[Coinbase]
api_key = GET_A_REAL_API_KEY
api_secret = GET_A_REAL_API_SECRET

[Bittrex]
api_key = GET_A_REAL_API_KEY
api_secret = GET_A_REAL_API_SECRET

[Binance]
api_key = GET_A_REAL_API_KEY
api_secret = GET_A_REAL_API_SECRET

[KuCoin]
api_key = GET_A_REAL_API_KEY
api_secret = GET_A_REAL_API_SECRET

[Steemit]
user_account = GET_A_STEEMIT_ACCOUNT
